<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/new.css" rel="stylesheet">
    <link href="/static/css/detail.css" rel="stylesheet">
    <link href="/static/css/new_task.css" rel="stylesheet">
    <link href="/static/css/foreman.css" rel="stylesheet">
    <link href="/static/css/task_detail.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" 
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" 
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" 
    integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" 
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
              <li class= 'active' >
                <a href="#">
                  <span><i class="fa fa-key center"></i></span> Order List
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa fa-user center"></i></span> Task
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item"  >
                    <span><i class="far fa-user"></i></span> fasdfasd
                  </a>
                </li>
                  <li>
                    <a class="dropdown-item">
                      <span><i class="far fa-address-book"></i></span> asd
                    </a>
                  </li>
                <li>
                  <a class="dropdown-item">
                    <span><i class="fas fa-sign-out-alt" id="current-account"></i>asdfasd
                    </span> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="order_list">
          <div class = "list_header">
            <h3 class = "title">
              Material Request #{{material_request.id}}
            </h3>
            <input type="hidden" id="task_id" value="1">
          </div>
          <div class = "detail_body" id="task_detail">
            <div class = "detail line">
              <div class="left">
                <h4>Material: {{material_request.material.name}}</h4>
              </div>
              <div class="right">
                <div>
                  <button type ="button" class="btn btn-success" onclick="approveTask(this)">Approve</button>
                  <button type ="button" class="btn btn-danger" onclick="disapproveTask(this)">Disapprove</button>
                </div>
              </div>
            </div>
            <div class = "detail line">
              <h4> Quantity: {{material_request.quantity}}</h4>
            </div>
            <div class = "detail line">
              <span>Created at {{material_request.create_at}}<span>
            </div>
            <div class="detail line">
              <h3> Storage List</h3>
            </div>
            <form>
              <div class="detail_task_table">
                <div class="detail_task_table_row header">
                  <div class = "task_column name">
                    Storage <i class="fas fa-arrow-alt-circle-down" onclick="toggleDetail(this)"></i>
                  </div>
                  <div class = "task_column foreman">
                    Material
                  </div>
                  <div class = "task_column on_hand">
                    On hand
                  </div>
                  <div class = "task_column desired">
                    Desired
                  </div>
                </div>
                <div class="detail_task_table_row">
                  <div class = "task_column name">
                    Kho 1
                  </div>
                  <div class = "task_column foreman">
                    Gỗ Lim
                  </div>
                  <div class = "task_column priority">
                    50
                  </div>
                  <div class = "task_column desired">
                    <input
                    class="field_input gray"
                    id="email-login"
                    type="number"
                    value=""
                    name=""
                  />
                  </div>
                </div>
                <div class="detail_task_table_row">
                  <div class = "task_column name">
                    Kho 2
                  </div>
                  <div class = "task_column foreman">
                    Gỗ Lim
                  </div>
                  <div class = "task_column priority">
                    70
                  </div>
                  <div class = "task_column desired">
                    <input
                    class="field_input gray"
                    id="email-login"
                    type="number"
                    value=""
                    name=""
                  />
                  </div>
                </div>
              </div>
              <input type="hidden" name="request_id" value="1">
              <input type="submit" style="display: none;" id="submit_btn">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(".datepicker").datepicker({
    orientation: "bottom left",
    autoclose: true
  });
  $(".esimatepicker").datepicker({
    orientation: "bottom left",
    autoclose: true
  });
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  function toggleDetail(elem) {
    var array =  $(elem).parent().parent().parent().find(".detail_task_table_row");
    for (let index = 1; index < array.length; index++) {
      const element = array[index];
      $(element).toggle();
    }
  }
  function toggleFilter(elem) {
    $(".filter").toggle();
  }
  function deleteTask(elem) {
    var id = $("#task_id").val();
    $.ajax({
      type: "POST",
      data: {task_id: id},
      url: "/api/task/delete_task",
      success: function (data) {
        $(elem).parent().parent().parent().remove();
      }
    })
  }
  function toggleStorage(elem) {
    var value =  $(elem).val();
    if(value == "Completed"){
      $("#select_storage").toggle();
    }
  }
  function approveTask(elem) {
    $("#submit_btn").click();
  }
  function disapproveTask(elem) {
    
  }
  </script>
</html>
