<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/new.css" rel="stylesheet">
    <link href="/static/css/detail.css" rel="stylesheet">
    <link href="/static/css/new_task.css" rel="stylesheet">
    <link href="/static/css/foreman.css" rel="stylesheet">
    <link href="/static/css/task_detail.css" rel="stylesheet">
    <link href="/static/css/approve.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <ul>
              <li class= 'active' >
                <a href="/producing_manager/material_base">
                  <span><i class="fa fa-user center"></i></span> Manage Material
                </a>
              </li>
              <li>
                <a href="/product_manger/product_base">
                  <span><i class="fa fa-user center"></i></span> Manage Product
                </a>
              </li>
              <li class= 'active' >
                <a href="/import_material/choose_provider">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="/producing_manager/list_material_request">
                  <span><i class="fa fa-user center"></i></span> Manage Request
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="order_list">
          <div class = "list_header">
            <h3 class = "title">
              Request List
            </h3>
          </div>
          <div class = "list_body" id="approve_request">
            <div class="table_row header">
              <div class="table_col id">
                Request ID
              </div>
              <div class="table_col order_name">
                Task name
              </div>
              <div class="table_col material">
                Material
              </div>
              <div class="table_col material_quantity">
                Quantity
              </div>
              <div class="table_col request_date">
                Created at
              </div>
            </div>
            {% for material_request in material_requests %}
            <div class="table_row">
              <div class="table_col id">
                {{material_request.id}}
              </div>
              <div class="table_col order_name">
                <a href="/storage_manager/approve_material_request/{{material_request.id}}"> {{material_request.taskid.name}} <i class="far fa-check-circle"></i> </a>
              </div>
              <div class="table_col material">
                {{material_request.material.name}}
              </div>
              <div class="table_col material_quantity">
                {{material_request.quantity}}
              </div>
              <div class="table_col request_date">
                {{material_request.create_at}}
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
          <div class = "list_footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">1</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">2</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">3</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  function searchasd(elem) {
      var number = $(elem).text();
      var search = $(".search-field-project").val();
      $(elem).attr("href", `/producing_manager?search=${search}&number=${number}`);
    }
  </script>
</html>
