<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/materia_add.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" 
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" 
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <ul>
              <li class= 'active' >
                <a href="/producing_manager/material_base">
                  <span><i class="fa fa-user center"></i></span> Manage Material
                </a>
              </li>
              <li>
                <a href="/product_manger/product_base">
                  <span><i class="fa fa-user center"></i></span> Manage Product
                </a>
              </li>
              <li class= 'active' >
                <a href="/import_material/choose_provider">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="/producing_manager/list_material_request">
                  <span><i class="fa fa-user center"></i></span> Manage Request
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="add_material">
          <div class = "list_header">
            <h3 class = "title">
              Edit Material
            </h3>
          </div>
          <div class = "list_body">
            <form class="add" action="" method="post">
              {% csrf_token %}
              <div class = "id">
                <label for="id">ID:</label>
                 {{material.id}}
              </div>
             <br>
              <div class = "material_name">
                <label for="name">Material Name:</label>
                  {{form.name|attr:"type:text"}}
              </div>
             <br>
             <div class = "type">
               <label for="type">Type:</label>
                {{form.type|attr:"type:text"}}
              </div>
             <br>
             <div>
               <label for="desc">Desc:</label>
                {{form.desc|attr:"type:text"}}
             </div>
             <br>
             <input type="submit" value="Save"/>
            </form>
          </div>
          <div class = "list_footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="material_base.html">Cancel</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  </script>
</html>
