<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/material_base.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" 
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" 
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <ul>
              <li class= 'active' >
                <a href="/producing_manager/material_base">
                  <span><i class="fa fa-user center"></i></span> Manage Material
                </a>
              </li>
              <li>
                <a href="/product_manger/product_base">
                  <span><i class="fa fa-user center"></i></span> Manage Product
                </a>
              </li>
              <li class= 'active' >
                <a href="/import_material/choose_provider">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="/producing_manager/list_material_request">
                  <span><i class="fa fa-user center"></i></span> Manage Request
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="material_list">
          <div class = "list_header">
            <h3 class = "title">
              Material List
            </h3>
            <div class="add_material">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="add_material">Add Material</a>
                    </li>
                </ul>
            </div>
            <div class="search-form">
              <form action="" accept-charset="UTF-8" data-remote="true" method="get">
                <div class="form-group">
                  <input class="search-field-project" type="search" name="material_name" id="q_name_or_description_cont" />
                  <button name="button" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class = "list_body">
            <div class="table_row header">
              <div class="table_col id">
                ID
              </div>
              <div class="table_col material_name">
                Material Name
              </div>
              <div class="table_col type">
                Type
              </div>
              <div class="table_col desc">
                Desc
              </div>
              <div class="table_col edit">
              </div>
              <div class="table_col delete">
              </div>
            </div>
            {%for material in materials%}
            <div class="table_row">
              <div class="table_col id" name="material_id">
                {{material.id}}
              </div>
              <div class="table_col material_name" name="material_name">
               {{material.name}}
              </div>
              <div class="table_col type" name="material_type">
                {{material.type}}
              </div>
              <div class="table_col desc" name="material_desc">
                {{material.desc}}
              </div>
              <div class="table_col edit">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="edit_material/{{material.id}}">Edit</a>
                    </li>
                </ul>
              </div>
              <div class="table_col delete">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id = "{{material.id}}" onclick="deleteMaterial(this)">
                    Delete
                </button>
                <!-- Modal -->
              </div>
            </div>
            {%endfor%}
          </div>
          <div class = "list_footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if num_pages > 10 %}
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">1</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">2</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">3</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">{{num_pages}}</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Next</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  {% for i in pages %}
                    <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">{{i}}</a></li>
                  {% endfor %}
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $('.dropdown-custoggle').click(function () {
      $('.cusdropdown').toggle();
    });
    function deleteMaterial(elem) {
    var id = $(elem).attr("id");
    $.ajax({
      type: "POST",
      data: {material_id: id},
      url: "/api_duc/material/delete_material",
      success: function (data) {
        $(elem).parent().parent().remove();
      }
    })
  }
    </script>
</html>
