<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/static/css/new.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/detail.css" rel="stylesheet">
    <link href="/static/css/new_task.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
              <li class= 'active' >
                <a href="#">
                  <span><i class="fa fa-key center"></i></span> Order List
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa fa-user center"></i></span> Task
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-chart-line center"></i></span>ユーザー分析
                </a>
              </li>
            <li>
              <a href="#">
                <span><i class="fas fa-file-csv center"></i></span>CSV分析
              </a>
            </li>
              <li class="general-export-csv">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.002" height="16" viewBox="0 0 16.002 16">
                    <path id="Union_1" data-name="Union 1" d="M.938,16a3.272,3.272,0,0,1-.394-.17,1.2,1.2,0,0,1-.544-.8V.941A1.148,1.148,0,0,1,.6.149a1.452,1.452,0,0,1,.551-.14C2.287,0,3.422,0,4.557,0a1.141,1.141,0,1,1,.007,2.282c-.7.008-1.4,0-2.093,0H2.293V13.705H13.714v-.17q0-1.048,0-2.093a1.139,1.139,0,0,1,2.277-.049c.015,1.177.013,2.353,0,3.53a1.119,1.119,0,0,1-.877,1.048c-.03.007-.058.021-.086.031Zm12.79-8.213a1.706,1.706,0,0,1-.014-.28v-3.6c-.068.065-.109.1-.148.141q-1.76,1.763-3.522,3.526a1.112,1.112,0,0,1-1.258.292A1.134,1.134,0,0,1,8.39,6c.7-.716,1.42-1.422,2.131-2.133l1.447-1.446c.033-.032.064-.067.123-.13H11.9c-1.156,0-2.312,0-3.468,0A1.141,1.141,0,1,1,8.351.005c.255-.009.51,0,.765,0h5.718A1.139,1.139,0,0,1,16,1.143Q16,4.376,16,7.61a1.139,1.139,0,0,1-1.053,1.137q-.046,0-.092,0A1.149,1.149,0,0,1,13.728,7.788Z" transform="translate(0 0)" />
                  </svg>
                  エクスポート
                 </a>
              </li>
      
            <li class="rdb-settings">
              <a href="#">
                <span><i class="fas fa-cog"></i></span>設定
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item"  >
                    <span><i class="far fa-user"></i></span> fasdfasd
                  </a>
                </li>
                  <li>
                    <a class="dropdown-item">
                      <span><i class="far fa-address-book"></i></span> asd
                    </a>
                  </li>
                <li>
                  <a class="dropdown-item">
                    <span><i class="fas fa-sign-out-alt" id="current-account"></i>asdfasd
                    </span> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="order_list">
          <div class = "list_header">
            <h3 class = "title">
              Add New Task
            </h3>
            <div>
              <button class="btn btn-success">Create</button>
              <button class="btn btn-danger">Cancel</button>
            </div>
          </div>
          <div class = "new_task_body">
            <form action="" accept-charset="UTF-8" data-remote="true" method="get">
              <div class="detail line">
                <h4>
                  Order ID: 
                </h4>
                <h4 class="order_id"> 123 </h4>
                <input type="hidden" id="order_id" value="123">
              </div>
              <div class="detail line">
                <h4>
                  Parent Task:
                </h4>
                <h4 class="order_id"> 80 ghế gỗ lim</h4>
                <input type="hidden" id="parent_task_id" value="4">
              </div>
              <div class="detail block">
                <div class="detail_info">
                  <label>
                    Quantity:
                  </label>
                  <input
                    autofocus="autofocus"
                    class="field_input"
                    id="email-login"
                    type="number"
                    value=""
                    name="quantity"
                  />
                </div>
                <div class="detail_info">
                  <label>
                    Due Date:
                  </label>
                  <input
                    autofocus="autofocus"
                    class="field_input"
                    id="email-login"
                    type="text"
                    value=""
                    name="quantity"
                  />
                </div>
                <div class="detail_info">
                  <label>
                    Priority:
                  </label>
                  <select class="field_input">
                    <option>Low</option>
                    <option>Normal</option>
                    <option>High</option>
                    <option>Urgent</option>
                  </select>
                </div>
              </div>
              <div class="detail line">
                <h4 style="margin-right: 16px;">
                  Foreman
                </h4>
                <div class="search-form">
                  <div class="form-group">
                    <input class="search-field-project" type="search" name="order_name" id="q_name_or_description_cont" />
                    <button type="button" onclick="searchForeman(this)">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="foreman_table">
                <div class="detail_task_table_row header">
                  <div class = "task_column name">
                    Foreman
                  </div>
                  <div class = "task_column foreman_status">
                    Status
                  </div>
                  <div class = "task_column foreman_task">
                    Current Task
                  </div>
                  <div class = "task_column">
                  </div>
                </div>
                <div class="detail_task_table_row">
                  <div class = "task_column name" id="1">
                    Hung pro
                  </div>
                  <div class = "task_column foreman_status available">
                    Available
                  </div>
                  <div class = "task_column foreman_task low">
                    5
                  </div>
                  <div class = "task_column">
                    <input type="checkbox" class="checkbox" onchange="selectForeman(this)">
                  </div>
                </div>
                <div class="detail_task_table_row">
                  <div class = "task_column name" id="2">
                    Hung pro 2
                  </div>
                  <div class = "task_column foreman_status available">
                    Available
                  </div>
                  <div class = "task_column foreman_task high">
                    12
                  </div>
                  <div class = "task_column">
                    <input type="checkbox" class="checkbox" onchange="selectForeman(this)">
                  </div>
                </div>
                <div class="detail_task_table_row">
                  <div class = "task_column name" id="3">
                    Hung pro 2
                  </div>
                  <div class = "task_column foreman_status unavailable">
                    Busy
                  </div>
                  <div class = "task_column foreman_task busy">
                    23
                  </div>
                  <div class = "task_column">
                    <input type="checkbox" class="checkbox" onchange="selectForeman(this)" >
                  </div>
                </div>
                <div class = "list_footer new_task">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Next</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <input type="hidden" id="foreman_id">
            </form>
          </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  function toggleDetail(elem) {
    var array =  $(elem).parent().parent().parent().find(".detail_task_table_row");
    for (let index = 1; index < array.length; index++) {
      const element = array[index];
      $(element).toggle();
    }
  }
  function deleteTask(elem) {
    $(elem).parent().parent().parent().remove();
  }
  function searchForeman(elem) {
    var search = $(elem).parent().find(".search-field-project").val();
    $.ajax({
      type: "POST",
      data: {search_data: search},
      url: "/search",
      success: function (data) {
        var array =  $(".foreman_table").find(".detail_task_table_row");
        for (let index = 1; index < array.length; index++) {
          const element = array[index];
          $(element).remove();
        }
        // Gia su data gom: ten foreman, status, so task dang lam
        for (let index = 0; index < data.length; index++) {
          if(index == 5){
            break;
          }
          const element = data[index];
          if(element.task < 5){
            var task = "low"
          }else if (element.task < 10){
            var task = "normal"
          }else if (element.task < 15){
            var task = "high"
          }else{
            var task = "busy"
          }
          var item = '<div class="detail_task_table_row">'+
          `                  <div class = "task_column name" id="${element.id}">`+
          `                    ${element.name}`+
          '                  </div>'+
          `                  <div class = "task_column foreman_status ${element.status}">`+
          `                    ${element.status}`+
          '                  </div>'+
          `                  <div class = "task_column foreman_task ${task}">`+
          `                    ${element.task}`+
          '                  </div>'+
          '                  <div class = "task_column">'+
          '                    <input type="checkbox" class="checkbox" onchange="selectForeman(this)" >' +
          '                  </div>'+
          '                </div>';
          $(".foreman_table").append(item)
        }
      }
    })
  }

  function selectForeman(elem) {
    $(".checkbox").prop("checked", false);
    $(elem).prop("checked",  true)
    var id = $(elem).parent().parent().find(".name").attr("id");
    $("#foreman_id").val(id)
  }
  </script>
</html>
