<!DOCTYPE html>

<html lang="en">

<head>
  <title>Tạo đơn hàng</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/new.css" rel="stylesheet">
  <link href="/static/css/detail.css" rel="stylesheet">
  <link href="/static/css/new_task.css" rel="stylesheet">
  <link href="/static/css/foreman.css" rel="stylesheet">
  <link href="/static/css/task_detail.css" rel="stylesheet">
  <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
  <link href="/static/css/tuananh.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type=”text/javascript” src=”dialog.js”></script>
</head>

<body class="authenticate">
  <div class="section-left">
    <div class="siderbar">
      <div class="kizukai-logo">

      </div>
      <div class="menu-left text-left">
        <ul>
          <li class='active'>
            <a href="#">
              <span><i class="fa fa-key center"></i></span> Order List
            </a>
          </li>
          <li>
            <a href="#">
              <span><i class="fa fa-user center"></i></span> Create Order
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-right">
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="title-header">

          </div>

          <div class="navbar-right">
            <a href="#">
              <i class="fa fa-list-ul"></i>
            </a>
            <a href="#" class="dropdown-custoggle">
              <i class="far fa-user-circle"></i>
            </a>
            <ul class="cusdropdown">
              <li>
                <a class="dropdown-item" href="user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i>Log out
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="order_list">
        <h2 class="header">Tạo đơn hàng</h2>
        <h5> Thông tin khách hàng</h5>
        <div class="search-form" style="width: 30%;">
          <div class="form-group">
            <input class="search-field-project" type="search" name="order_name" id="search_material_name"  />
            <button type="button" onclick="searchMaterial(this)">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <td>Tên khách hàng</td>
                <td>
                  <p>aaaaaaaaaaaaaaa</p>
                </td>
              </tr>
              <tr>
                <td>Số điện thoại</td>
                <td></td>
              </tr>
              <tr>
                <td>Địa chỉ</td>
                <td></td>
              </tr>
              <tr>
                <td>Hình thức thanh toán</td>
                <td></td>
              </tr>
              <tr>
                <td>Số tài khoản</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h5> Thông tin sản phẩm</h5>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th>STT</th>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Tổng tiền</th>
              </tr>
              <tr>
                <td> 1</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div class="list_footer">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <button id="themsanpham" class="btn" type="button" style="border-color: black;" data-toggle="modal" data-target="#themsp">Thêm sản phẩm </button>
              <button id="themkhachhang" class="btn" type="button" style="border-color: black;" data-toggle="modal" data-target="#themkh">Thêm mới khách hàng</button>
              <a href="contract.html"> <button id="xuathoadon" type="button" class="btn" style="border-color: black;">Xuất hợp đồng</button></a>
              <button type="button" class="btn" style="border-color: black;"> <a href="" style="color: black;">Huỷ</a>
              </button>
            </ul>
          </nav>
        </div>
        <div class="modal fade" id="themsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Tên sản phẩm</td>
                      <td><input type="text" placeholder="Nhập tên sản phẩm"></td>
                    </tr>
                    <tr>
                      <td>Mã sản phẩm</td>
                      <td></td>

                    </tr>
                    <tr>
                      <td>Số lượng</td>
                      <td><input type="number" name="quantity" min="0" value="0"></td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="themkh" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Tên khách hàng</td>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                      <td>Số điện thoại</td>
                      <td><input type="text" maxlength="9" size="9" min="0"></td>
                    </tr>
                    <tr>
                      <td>Địa chỉ</td>
                      <td><textarea name="form-control" id="" rows="2"></textarea></td>
                    </tr>
                    <tr>
                      <td>Số tài khoản</td>
                      <td><input type="number" min="0"></td>
                    </tr>
                    <tr>
                      <td>Ngân hàng </td>
                      <td><input type="text"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>