<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/bill.css' %}" rel="stylesheet">
    <!-- <link href="bill.css" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <ul>
              <li class= 'active' >
                <a href="/producing_manager/material_base">
                  <span><i class="fa fa-user center"></i></span> Manage Material
                </a>
              </li>
              <li>
                <a href="/product_manger/product_base">
                  <span><i class="fa fa-user center"></i></span> Manage Product
                </a>
              </li>
              <li class= 'active' >
                <a href="/import_material/choose_provider">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="/producing_manager/list_material_request">
                  <span><i class="fa fa-user center"></i></span> Manage Request
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="bill">
          <div class = "list_header">
            <h1>Hoá Đơn Nhập Hàng</h1>
            <!-- <div class="page-tools">
              <div class="action-buttons">
                  <a class="btn bg-white btn-light mx-1px text-95" href="#" data-title="Print">
                      <i class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i>
                      Print
                  </a>
              </div>
            </div>             -->
          </div>
          <div class = "list_body">
            <div class="bill_info">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Mã Hoá Đơn:</td>
                  </tr>
                  <tr>
                    <td>Nhà Cung Cấp:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ngày Nhập:</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <h5> Thông tin sản phẩm</h5>
            <div class="modal-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>STT</th>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Đơn giá</th>
                  <th>Tổng tiền</th>
                </tr>
                <tr>
                  <td> 1</td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class = "list_footer">
            <div class="export">
                <nav aria-label="Page navigation example"></nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="choose_material.html">Back</a></li>
                        <li class="page-item"><a class="page-link" href="choose_provider.html">Export</a></li>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  </script>
</html>
