<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/choose_material.css' %}" rel="stylesheet">
    <!-- <link href="choose_material.css" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
              <li class= 'active' >
                <a href="#">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa fa-user center"></i></span> Task
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-chart-line center"></i></span>ユーザー分析
                </a>
              </li>
            <li>
              <a href="#">
                <span><i class="fas fa-file-csv center"></i></span>CSV分析
              </a>
            </li>
              <li class="general-export-csv">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.002" height="16" viewBox="0 0 16.002 16">
                    <path id="Union_1" data-name="Union 1" d="M.938,16a3.272,3.272,0,0,1-.394-.17,1.2,1.2,0,0,1-.544-.8V.941A1.148,1.148,0,0,1,.6.149a1.452,1.452,0,0,1,.551-.14C2.287,0,3.422,0,4.557,0a1.141,1.141,0,1,1,.007,2.282c-.7.008-1.4,0-2.093,0H2.293V13.705H13.714v-.17q0-1.048,0-2.093a1.139,1.139,0,0,1,2.277-.049c.015,1.177.013,2.353,0,3.53a1.119,1.119,0,0,1-.877,1.048c-.03.007-.058.021-.086.031Zm12.79-8.213a1.706,1.706,0,0,1-.014-.28v-3.6c-.068.065-.109.1-.148.141q-1.76,1.763-3.522,3.526a1.112,1.112,0,0,1-1.258.292A1.134,1.134,0,0,1,8.39,6c.7-.716,1.42-1.422,2.131-2.133l1.447-1.446c.033-.032.064-.067.123-.13H11.9c-1.156,0-2.312,0-3.468,0A1.141,1.141,0,1,1,8.351.005c.255-.009.51,0,.765,0h5.718A1.139,1.139,0,0,1,16,1.143Q16,4.376,16,7.61a1.139,1.139,0,0,1-1.053,1.137q-.046,0-.092,0A1.149,1.149,0,0,1,13.728,7.788Z" transform="translate(0 0)" />
                  </svg>
                  エクスポート
                 </a>
              </li>
      
            <li class="rdb-settings">
              <a href="#">
                <span><i class="fas fa-cog"></i></span>設定
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item"  >
                    <span><i class="far fa-user"></i></span> fasdfasd
                  </a>
                </li>
                  <li>
                    <a class="dropdown-item">
                      <span><i class="far fa-address-book"></i></span> asd
                    </a>
                  </li>
                <li>
                  <a class="dropdown-item">
                    <span><i class="fas fa-sign-out-alt" id="current-account"></i>asdfasd
                    </span> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="material_list">
          <div class = "list_header">
            <h3 class = "title">
              Choose Material
            </h3>
            <div class = "add">
                <nav aria-label="Page navigation example"></nav>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="producing_manager/material_add.html">Add Material</a></li>
                </nav>
            </div>
            <div class="search-form">
              <form action="/user_analytic_projects" accept-charset="UTF-8" data-remote="true" method="get">
                <div class="form-group">
                  <input class="search-field-project" type="search" name="q[name_or_description_cont]" id="q_name_or_description_cont" />
                  <button name="button" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class = "list_body">
            <div class="detail line">
              <h3> List Material</h3>
            </div>
            <div class="material_table">
              <div class="material_table_row header">
                <div class = "material_column id">
                  ID
                </div>
                <div class = "material_column name">
                  Material Name
                </div>
                <div class = "material_column type">
                  Type
                </div>
                <div class = "material_column price">
                  Price
                </div>
                <div class = "material_column description">
                  Description
                </div>
                <div class = "material_column import">
                  
                </div>
              </div>
              {% for material in materials %}
              <div class="material_table_row">
                <div class = "material_column id">
                  {{material.id}}
                </div>
                <div class = "material_column name">
                  {{material.name}}
                </div>
                <div class = "material_column type">
                  {{material.type}}
                </div>
                <div class = "material_column price">
                  {{material.price}}
                </div>
                <div class = "material_column description">
                  {{material.description}}
                </div>
                <div class = "material_column import">
                  <button id="import" class="btn" type="button" style="border-color: black;" data-toggle="modal" data-target="#themsp">Import </button>
                  <div class="modal fade" id="themsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Import Material</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>ID:</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Material Name</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Số lượng</td>
                                <td><input type="number" name="quantity" min="0" value="0"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary">Save</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <br>  
            <div class="detail line">
              <h3> Imported Material</h3>
            </div>
            <div class="material_table">
              <div class="material_table_row header">
                <div class = "material_column id">
                  ID 
                </div>
                <div class = "material_column name">
                  Material Name
                </div>
                <div class = "material_column type">
                  Type
                </div>
                <div class = "material_column price">
                  Price
                </div>
                <div class = "material_column quantity">
                  Quantity
                </div>
                <div class = "material_column total">
                  Total
                </div>
              </div>
              {% for imported_material in imported_materials %}
              <div class="material_table_row">
                <div class = "material_column id">
                  {{imported_material.id}}
                </div>
                <div class = "material_column name">
                  {{imported_material.name}}
                </div>
                <div class = "material_column type">
                  {{imported_material.type}}
                </div>
                <div class = "material_column price">
                  {{imported_material.price}}
                </div>
                <div class = "material_column quantity">
                  {{imported_material.quantity}}
                </div>
                <div class = "material_column total">
                  
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class = "list_footer">
            <div class="bill">
                <nav aria-label="Page navigation example"></nav>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="choose_provider.html">Back</a></li>
                      <li class="page-item"><a class="page-link" href="bill.html">Next</a></li>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  </script>
</html>
