<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/choose_provider.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" 
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" 
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <ul>
              <li class= 'active' >
                <a href="/storage_manager/manage_material">
                  <span><i class="fa fa-user center"></i></span> Manage Material
                </a>
              </li>
              <li>
                <a href="/storage_manager/product_manage">
                  <span><i class="fa fa-user center"></i></span> Manage Product
                </a>
              </li>
              <li class= 'active' >
                <a href="choose_provider">
                  <span><i class="fa fa-key center"></i></span> Import Material
                </a>
              </li>
              <li>
                <a href="/storage_manager/list_material_request">
                  <span><i class="fa fa-user center"></i></span> Manage Request
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="choose_provider">
          <div class = "list_header">
            <h3 class = "title">
              Choose Provider
            </h3>
            <div class = "add">
                <!-- <nav aria-label="Page navigation example"></nav>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="provider_add.html">Add Provider</a></li>
                </nav> -->
                <button id="add_material" class="btn" type="button" style="border-color: black;" data-toggle="modal" data-target="#themsp">Add Provider </button>
                <div class="modal fade" id="themsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Provider</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td>ID:</td>
                              <td></td>
                            </tr>
                              <td>Provider Name</td>
                              <td><input type="text" id="name" value="" ></td>
                            </tr>
                            <tr>
                              <td>Phone</td>
                              <td><input type="text" id="phone" value="" ></td>
                            </tr>
                            <tr>
                              <td>Address</td>
                              <td><input type="text" id="addess" value="" ></td>
                            </tr>
                            <tr>
                              <td>Description</td>
                              <td><input type="text" id="desc" value="" ></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addProvider(this)">Save</button>
                        <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="search-form">
              <form action="" accept-charset="UTF-8" data-remote="true" method="get">
                <div class="form-group">
                  <input class="search-field-project" type="search" name="search" id="search" />
                  <button name="button" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class = "list_body">
            <div class="table_row header">
              <div class="table_col id">
                ID
              </div>
              <div class="table_col provider_name">
                Provider Name
              </div>
              <div class="table_col phone">
                Phone
              </div>
              <div class="table_col address">
                Address
              </div>
              <div class="table_col desc">
                Descpription
              </div>
              <div class="table_col select">
                Select
              </div>
            </div>
            {%for provider in providers%}
            <div class="table_row">
              <div class="table_col id">
                {{provider.id}}
              </div>
              <div class="table_col provider_name">
                {{provider.name}}
              </div>
              <div class="table_col phone">
                {{provider.phone}}
              </div>
              <div class="table_col address">
                {{provider.address}}
              </div>
              <div class="table_col desc">
                {{provider.desc}}
              </div>
              <div class="table_col select">
                <nav aria-label="Page navigation example"></nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" id="{{provider.id}}" href="choose_material" onclick="choose_provider(this)">select</a></li>
                </nav>
              </div>
            </div>
            {%endfor%}
          </div>
          <div class = "list_footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">1</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">2</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">3</a></li>
                <li class="page-item"><a class="page-link" onclick="searchasd(this)" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  function searchasd(elem) {
    var number = $(elem).text();
    var search = $(".search-field-project").val();
    $(elem).attr("href", `/storage_manager?search=${search}&number=${number}`);
  }
  function searchProvider(elem) {
    var search = $(elem).parent().find(".search-field-project").val();
    $.ajax({
      type: "POST",
      data: {search_data: search},
      url: "/search",
      success: function (data) {
        var array =  $(".provider_table").find(".table_row");
        for (let index = 1; index < array.length; index++) {
          const element = array[index];
          $(element).remove();
        }        
      }
    })
  }
  function addProvider(elem){
    var name = $("#name").val();
    var phone = $("#phone").val();
    var address = $("#address").val();
    var desc = $("#desc").val();
    $.ajax({
      type: "POST",
      data: {
        name: name,
        phone: phone,
        address: address,
        desc:desc
      },
      url: "/api_duc/provider/add_provider",
      success: function (data) {
        $('#close').click();
      }
    })
  }
  function choose_provider(elem) {
    var id = $(elem).attr("id");
    $.ajax({
      type: "POST",
      data: {provider_id: id},
      url: "/api_duc/provider/choose_provider",
      success: function (data) {
      }
    })
  }
  
  </script>
</html>
