<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.username|attr:"style:width:500px"|attr:"placeholder:username" }}
            {% if error %}
                {{error}}
            {% endif %}
            <input type="submit" value="Submit">
        </form>
        {% comment %} <a href="{% url 'register' %}"> Đăng xuất</a> {% endcomment %}
    </div>
    
</body>
</html>