<!doctype html>
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Marterial Statistic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>


<body>

    <div class="main">
        <h2 class="text-center" style="margin-top: 5%;"><span>Thống kê nguyên liệu</span></h2>
        <div class="container">
            <div class="row" id="customize_row">
                <div class="form-group row col-sm">
                    <label for="example-date-input" class="col-3 col-form-label">Ngày bắt đầu</label>
                    <div class="col-9">
                        <input class="form-control" type="date" value="2021-04-01" id="date-input-1">
                    </div>
                </div>
                <div class="form-group row col-sm">
                    <label for="example-date-input" class="col-3 col-form-label">Ngày kết thúc</label>
                    <div class="col-9">
                        <input class="form-control" type="date" value="2021-05-01" id="date-input-2">
                    </div>
                </div>
            </div>
            <div class="row" id="customize_row">
                <button class="col-sm btn btn-light" id="btnBack"> Back </button>
                <button class="col-sm btn btn-success" id="btnStatistic"> Statistic </button>
            </div>
            <div id="content" style="display: None;">
                <div class="row" id="customize_row">
                    <div class="col-sm">
                        <canvas id="TotalProfitChart" width="200" height="100"></canvas>
                    </div>
                </div>
                <div class="row" id="customize_row">
                    <div class="col-sm">
                        <canvas id="ProductsChart" width="200" height="100"></canvas>
                    </div>
                </div>
            </div>
            <div class="row" id="customize_row">
                <div class="col-sm">
                    <canvas id="CostChart" width="200" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    var ctx_profit = document.getElementById('TotalProfitChart').getContext("2d");
    var ctx_product = document.getElementById('ProductsChart');
    var ctx_cost = document.getElementById('CostChart');
    $('#btnBack').click(function () {
        window.location.href = 'index.html';
    });
    $('#btnStatistic').click(function () {
        var start_date = $("#date-input-1").val();
        var end_date = $("#date-input-2").val();
        var backgroundColor = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
        ];
        $.ajax({
            type: "POST",
            data: {
                start_date: start_date,
                end_date: end_date,
            },
            url: "/api/statistic/statistic_material",
            success: function (data) {
                console.log(data);
                data = JSON.parse(JSON.stringify(data))
                var TotalProfitChart = new Chart(ctx_profit, {
                    type: 'line',
                    data: {
                        labels: data["labels"],
                        datasets: [{
                            label: 'Số lượng nhập',
                            data: data["material_quantity_total"],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }],
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Biểu đồ thống kê nhập liệu'
                                }
                            }
                        }
                    }
                });
                var datasets = [];
                for (let index = 0; index < data["material_quantity_detail"].length; index++) {
                    console.log(data["material_quantity_detail"][index]["label"]);
                    console.log(data["material_quantity_detail"][index]["quantity"]);
                    datasets.push({
                        type: 'bar',
                        label: data["material_quantity_detail"][index]["label"],
                        data: data["material_quantity_detail"][index]["quantity"],
                        backgroundColor: backgroundColor[index % 7]
                    })
                }
                console.log(datasets);
                var ProductsChart = new Chart(ctx_product, {
                    type: 'bar',
                    data: {
                        labels: data["labels"],
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Biểu đồ thống kê nhập liệu chi tiết'
                            }
                        }
                    }
                });
                var datasets = [];
                for (let index = 0; index < data["provider_quantity_detail"].length; index++) {
                    datasets.push({
                        type: 'bar',
                        label: data["provider_quantity_detail"][index]["label"],
                        data: data["provider_quantity_detail"][index]["quantity"],
                        backgroundColor: backgroundColor[index % 7]
                    })
                }
                console.log(datasets);
                var CostChart = new Chart(ctx_cost, {
                    type: 'bar',
                    data: {
                        labels: data["provider_labels"],
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Biểu đồ thống kê nhập liệu theo nhà cung cấp'
                            }
                        }
                    }
                });

            },
            errors: function (data) {
                console.log(data);
                alert("Có lỗi xảy ra, vui lòng thử lại");
            }
        });

        var x = document.getElementById("content");
        x.style.display = "block";
    });

</script>
<style>
    #customize_row {
        margin-top: 5%;
    }
</style>

</html>