<!doctype html>
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profit Statistic</title>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/new.css" rel="stylesheet">
    <link href="/static/css/detail.css" rel="stylesheet">
    <link href="/static/css/new_task.css" rel="stylesheet">
    <link href="/static/css/foreman.css" rel="stylesheet">
    <link href="/static/css/task_detail.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>


<body class="authenticate">
    <div class="section-left">
        <div class="siderbar">
            <div class="kizukai-logo">

            </div>
            <div class="menu-left text-left">
                <ul>
                    <li class='active'>
                        <a href="#">
                            <span><i class="fa fa-key center"></i></span> Statistic
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="goBack()">
                            <span><i class="fa fa-user center"></i></span> Back
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-right">
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="title-header">

                    </div>

                    <div class="navbar-right">
                        <a href="#">
                            <i class="fa fa-list-ul"></i>
                        </a>
                        <a href="#" class="dropdown-custoggle">
                            <i class="far fa-user-circle"></i>
                        </a>
                        <ul class="cusdropdown">
                            <li>
                                <a class="dropdown-item" href="/user/logout">
                                    <span><i class="far fa-user"></i></span> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="main" style="height: auto; width: auto;">
            <div class="overflow:auto;">
                <h2 class="text-center"><span>Revenue statistics</span></h2>
                <div class="row customize_row">
                    <div class="form-group row col-sm">
                        <label for="example-date-input" class="col-3 col-form-label">Start date</label>
                        <div class="col-9">
                            <input class="form-control" type="date" value="2021-04-01" id="date-input-1">
                        </div>
                    </div>
                    <div class="form-group row col-sm">
                        <label for="example-date-input" class="col-3 col-form-label">End date</label>
                        <div class="col-9">
                            <input class="form-control" type="date" value="2021-05-01" id="date-input-2">
                        </div>
                    </div>
                </div>
                <button class="col-sm btn btn-success" id="btnStatistic"> Statistic </button>
                <div id="content" style="display: None;margin-top: 2%;">
                    <div class="chart-container" style="height:500px; width:1000px; margin-left: 18%;">
                        <canvas id="TotalProfitChart"></canvas>
                        <canvas id="ProductsChart"></canvas>
                        <canvas id="CostChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    var ctx_profit = document.getElementById('TotalProfitChart').getContext("2d");
    var ctx_product = document.getElementById('ProductsChart');
    $('#btnStatistic').click(function () {
        var start_date = $("#date-input-1").val();
        var end_date = $("#date-input-2").val();
        var backgroundColor = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(201, 203, 207, 0.2)'
        ];
        $.ajax({
            type: "POST",
            data: {
                start_date: start_date,
                end_date: end_date,
            },
            url: "/api/statistic/statistic_profit",
            success: function (data) {
                console.log(data);
                data = JSON.parse(JSON.stringify(data))
                var TotalProfitChart = new Chart(ctx_profit, {
                    type: 'bar',
                    data: {
                        labels: data["labels"],
                        datasets:
                            [{
                                label: 'Doanh thu',
                                data: data["income"],
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderWidth: 1
                            }],
                        options: {
                            scales: {
                                y: {
                                    display: true,
                                    title: {
                                        text: "Revenue"
                                    },
                                    beginAtZero: true
                                },
                                x: {
                                    display: true,
                                    title: {
                                        text: "Time"
                                    }
                                }
                            },
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Chart of general revenue'
                                }
                            }
                        }
                    }
                });
                var datasets = [];
                for (let index = 0; index < data["product_income_detail"].length; index++) {
                    datasets.push({
                        type: 'bar',
                        label: data["product_income_detail"][index]["label"],
                        data: data["product_income_detail"][index]["income"],
                        backgroundColor: backgroundColor[index % 7]
                    })
                }
                var ProductsChart = new Chart(ctx_product, {
                    type: 'bar',
                    data: {
                        labels: data["labels"],
                        datasets: datasets
                    },
                    options: {
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                                title: {
                                    display: true,
                                    text: 'Graph of revenue by product'
                                }
                            }
                        }
                    }
                });
            },
            errors: function (data) {
                console.log(data);
                alert("Có lỗi xảy ra, vui lòng thử lại");
            }
        });

        var x = document.getElementById("content");
        x.style.display = "block";
    });
    $(".datepicker").datepicker({
        orientation: "bottom left",
        autoclose: true
    });
    $(".esimatepicker").datepicker({
        orientation: "bottom left",
        autoclose: true
    });
    $('.dropdown-custoggle').click(function () {
        $('.cusdropdown').toggle();
    });
    function toggleDetail(elem) {
        var array = $(elem).parent().parent().parent().find(".detail_task_table_row");
        for (let index = 1; index < array.length; index++) {
            const element = array[index];
            $(element).toggle();
        }
    }
    function toggleFilter(elem) {
        $(".filter").toggle();
    }
    function goBack() {
        window.history.back();
    }
</script>
<style>
    .customize_row {
        margin-top: 5%;
    }
</style>

</html>
