<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/product_add.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
            <li class= 'active' >
              <a href="/storage_manager/manage_material">
                <span><i class="fa fa-user center"></i></span> Manage Material
              </a>
            </li>
            <li>
              <a href="/storage_manager/product_manage">
                <span><i class="fa fa-user center"></i></span> Manage Product
              </a>
            </li>
            <li class= 'active' >
              <a href="/storage_manager/import_material/choose_provider">
                <span><i class="fa fa-key center"></i></span> Import Material
              </a>
            </li>
            <li>
              <a href="/storage_manager/list_material_request">
                <span><i class="fa fa-user center"></i></span> Manage Request
              </a>
            </li>
            <li>
              <a href="/statistic/material">
                <span><i class="fa fa-user center"></i></span> Statistic
              </a>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item" href="/user/change_password">
                    <span><i class="far fa-address-book"></i></span> Change password
                  </a>
                </li>
              <li>
                <a class="dropdown-item" href="/user/logout">
                  <span><i class="fas fa-sign-out-alt" id="current-account"></i> Logout
                  </span> 
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="add_product">
          <div class = "list_header">
            <h3 class = "title">
              Add Product
            </h3>
          </div>
          <div class = "list_body">
            <form class="add" action="" method="POST">
              {% csrf_token %}
              <div class = "product_name">
                <label for="name">Product Name:</label>
                {{form.name|attr:"type:text"}}
              </div>
              <br>
              <div class = "iddesign">
                <label for="iddesign">ID Design:</label>
                {{form.iddesign|attr:"type:text"}}
              </div>
              <br>
              <div class = "type">
               <label for="type">Type:</label>
                {{form.type|attr:"type:text"}}
              </div>
              <br>
              <div class = "price">
                <label for="price">Price:</label>
                {{form.price|attr:"type:text"}}
              </div>
              <br>
              <div class = "desc">
                <label for="desc">Descption:</label>
                {{form.desc|attr:"type:text"}}
              </div>
              <div class = "list_footer">
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <button class="btn btn-success" type="submit">Add</button>
                  <a class="link-active btn btn-primary" href="/storage_manager/product_manage">Back</a>               
                </ul>          
              </div>
            </div>
          </form>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  // function addProduct() {
  //     product_name = document.getElementById('product_name').value
  //     iddesign = document.getElementById('iddesgin').value
  //     type = document.getElementById('type').value
  //     price = document.getElementById('price').value
  //     desc = document.getElementById('desc').value

  //     product = {
  //       'product_name': product_name,
  //       'iddesgin': iddsign,
  //       'type': type,
  //       'price': price,
  //       'desc': desc
  //       }

  //     if(currentIndex >= 0) {
  //       //update
  //       dataList[currentIndex] = product
  //       currentIndex = -1
  //       } else {
  //         //them moi
  //         dataList.push(product)
  //         }
  //   }
   </script>
</html>
