<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
<html lang="en">
  <head>
    <title>ALT F4</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
    <link href="{% static 'css/product_add.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body class="authenticate">
    <div class = "section-left">
      <div class="siderbar">
        <div class="kizukai-logo">
 
        </div>
        <div class="menu-left text-left">
          <ul>
              <li class= 'active' >
                <a href="#">
                  <span><i class="fa fa-key center"></i></span> Manage Product
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fa fa-user center"></i></span> Task
                </a>
              </li>
              <li>
                <a href="#">
                  <span><i class="fas fa-chart-line center"></i></span>ユーザー分析
                </a>
              </li>
            <li>
              <a href="#">
                <span><i class="fas fa-file-csv center"></i></span>CSV分析
              </a>
            </li>
              <li class="general-export-csv">
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.002" height="16" viewBox="0 0 16.002 16">
                    <path id="Union_1" data-name="Union 1" d="M.938,16a3.272,3.272,0,0,1-.394-.17,1.2,1.2,0,0,1-.544-.8V.941A1.148,1.148,0,0,1,.6.149a1.452,1.452,0,0,1,.551-.14C2.287,0,3.422,0,4.557,0a1.141,1.141,0,1,1,.007,2.282c-.7.008-1.4,0-2.093,0H2.293V13.705H13.714v-.17q0-1.048,0-2.093a1.139,1.139,0,0,1,2.277-.049c.015,1.177.013,2.353,0,3.53a1.119,1.119,0,0,1-.877,1.048c-.03.007-.058.021-.086.031Zm12.79-8.213a1.706,1.706,0,0,1-.014-.28v-3.6c-.068.065-.109.1-.148.141q-1.76,1.763-3.522,3.526a1.112,1.112,0,0,1-1.258.292A1.134,1.134,0,0,1,8.39,6c.7-.716,1.42-1.422,2.131-2.133l1.447-1.446c.033-.032.064-.067.123-.13H11.9c-1.156,0-2.312,0-3.468,0A1.141,1.141,0,1,1,8.351.005c.255-.009.51,0,.765,0h5.718A1.139,1.139,0,0,1,16,1.143Q16,4.376,16,7.61a1.139,1.139,0,0,1-1.053,1.137q-.046,0-.092,0A1.149,1.149,0,0,1,13.728,7.788Z" transform="translate(0 0)" />
                  </svg>
                  エクスポート
                 </a>
              </li>
      
            <li class="rdb-settings">
              <a href="#">
                <span><i class="fas fa-cog"></i></span>設定
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class = "section-right">
      <header>
        <div class="container-fluid">
          <div class="row">
            <div class="title-header">
      
            </div>

            <div class="navbar-right">
              <a href="#">
                <i class="fa fa-list-ul"></i>
              </a> 
              <a href="#" class = "dropdown-custoggle">
                <i class="far fa-user-circle"></i>
              </a>
              <ul class="cusdropdown">
                <li>
                  <a class="dropdown-item"  >
                    <span><i class="far fa-user"></i></span> fasdfasd
                  </a>
                </li>
                  <li>
                    <a class="dropdown-item">
                      <span><i class="far fa-address-book"></i></span> asd
                    </a>
                  </li>
                <li>
                  <a class="dropdown-item">
                    <span><i class="fas fa-sign-out-alt" id="current-account"></i>asdfasd
                    </span> 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class ="main">
        <div class="add_product">
          <div class = "list_header">
            <h3 class = "title">
              Add Product
            </h3>
          </div>
          <div class = "list_body">
            <form class="add" action="" method="POST">
              {% csrf_token %}
              <div class = "product_name">
                <label for="id">Product Name:</label>
                {{form.name|attr:"type:text"}}
              </div>
              <br>
              <div class = "iddesign">
                <label for="id">ID Design:</label>
                {{form.id|attr:"type:text"}}
              </div>
              <br>
              <div class = "type">
               <label for="id">Type:</label>
                {{form.type|attr:"type:text"}}
              </div>
              <br>
              <div class = "price">
                <label for="id">Price:</label>
                {{form.price|attr:"type:text"}}
              </div>
              <br>
              <div class = "desc">
                <label for="id">Descption:</label>
                {{form.desc|attr:"type:text"}}
              </div>
            
          </div>
          <div class = "list_footer">
            <button class="btn btn-success" type="submit">Confirm</button>
            <button class="btn btn-danger">Cancel</button>
            <!-- <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" onclick="addProduct()" href="product_base.html">Confirm</a></li>
                <li class="page-item"><a class="page-link" href="product_base.html">Cancel</a></li>
              </ul>
            </nav> -->
          </div>
        </div>
        </form>
      </div>
    </div>
  </body>
  <script>
  $('.dropdown-custoggle').click(function () {
    $('.cusdropdown').toggle();
  });
  // function addProduct() {
  //     product_name = document.getElementById('product_name').value
  //     iddesign = document.getElementById('iddesgin').value
  //     type = document.getElementById('type').value
  //     price = document.getElementById('price').value
  //     desc = document.getElementById('desc').value

  //     product = {
  //       'product_name': product_name,
  //       'iddesgin': iddsign,
  //       'type': type,
  //       'price': price,
  //       'desc': desc
  //       }

  //     if(currentIndex >= 0) {
  //       //update
  //       dataList[currentIndex] = product
  //       currentIndex = -1
  //       } else {
  //         //them moi
  //         dataList.push(product)
  //         }
  //   }
  // </script>
</html>
